<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MySuite">

<!-- <groups>
<run>
<include name="basic"></include>
<include name="advanced"></include> -->
<!-- <exclude name="basic"></exclude> -->
<!-- </run>
</groups> -->
  <test thread-count="5" name="MyTest">
  <parameter name="username" value="test@test.com"></parameter>
  <parameter name="password" value="Test123"></parameter>
    <classes>
      <class name="TestOne"/>
      <class name="TestDataProvider"></class>
    </classes> 
  </test> <!-- MyTest -->
  
  <test name="MyTest2">
  <classes>
      <class name="TestTwo"></class>
    </classes>
  </test>
</suite> <!-- MySuite -->
